.btn-container{
    text-align: left;
    padding: 10px;
}

.btn {
    margin-left: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

.btn-New{
    background-color: #025AA5;
}

.btn-Edit{
    background-color: #F0AD4E;
}

.btn-Delete{
    background-color: #C9302C;
}